{{> navBar/index}}

<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div id="articles">
            {{#each Article}}

            <p data-id="{{this._id}}"><i class="far fa-comment-alt comment" data-target="modal{{this._id}}"></i>

                {{#if this.starred}}

                <i data-id ="{{this._id}}" class="fas fa-star star"></i>

                {{else}}

                <i data-id ="{{this._id}}" class="far fa-star star"></i>


                {{/if}}

                <a href="{{this.link}}">{{this.title}}</a>
                <br />
            </p>
            {{/each}}
        </div>
    </div>
</div>

{{> modal/modal}}